.hero {
  @include section-padding-m;
  background: $blue;
  color: $white;
  position: relative;

  // &:before {
  //   @include wavy;
  //   background-color: $blue;
  //   bottom: -4rem;
  // }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__headline {
    font-size: 3rem;
    text-align: center;
    line-height: 1.1;
    margin: 0;
    color: $orange;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 5rem;
    }
  }

  &__strap {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    margin: 0;
    color: $white;
  }

  &__button {
    @include button;
    width: auto;
    border: 2px solid $white;
    color: $white;

    &:hover {
      background: $blue;
      color: $white;
    }

    &:focus,
    &:active {
      background: $yellow;
      border-color: $yellow;
      color: $black;
    }

  }
}

.options {
  @include section-padding-m;
  background: $grey;
  position: relative;

  // &:before {
  //   @include wavy;
  //   background-color: $grey;
  //   bottom: -4rem;
  // }

  &__headline {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
  }

  &__button {
    @include button;
    margin-top: 1rem;
    margin: 2rem auto 0;

    &:hover {
      color: $white;
    }

    &:focus,
    &:active {
      color: $black;
    }
  }
}

.options-list {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;

  @media screen and (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr; // 2x2 grid
  }

  @media screen and (min-width: $breakpoint-l) {
    grid-template-columns: 1fr 1fr 1fr 1fr; // 1x4 grid
  }

  &__option {
    background: $white;
    padding: 1.5rem;
    border-radius: 15px;
    border: 3px solid $black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    * {
      margin: 0;
    }

  }

  &__option-last-para {
    font-weight: bold;
    display: block;
    margin-top: auto;
  }

  &__option-title {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}


.story {
  @include section-padding-m;
  background: $blue;
  color: $white;
  text-align: center;
  font-size: 1.2rem;

  @media screen and (min-width: $breakpoint-m) {
    font-size: 1.5rem;
  }
}