@import "../styles/vars";
@import "../styles/mixins";

.betaBanner {
  background: $lilac;
  color: $green;
  padding: 0.4rem;


  p {
    margin: 0px;
  }
}

.inner {
  text-align: center;
  @include contained-width-l
}