@import "../styles/vars";
@import "../styles/mixins";

.contentBlock {
  @include standard-padding;
  @include section-padding-xl;

  &:nth-child(odd) {
    background-color: $grey;
  }

  h2 {
    margin-bottom: 5.5rem;
  }
}

.preCaption {
  color: $green;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.sideBySide {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media screen and (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr;
  }

  p {
    font-size: 1.3rem;  
    margin-bottom: 2rem;
  }

  b {
    font-size: 1.5rem;
  }

  p:first-child {
    margin-top: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}