@import "../styles/vars";
@import "../styles/mixins";

.contentBlock {
  @include standard-padding;
  @include section-padding-s;

  @media screen and (min-width: $breakpoint-m) {
    @include section-padding-l;
  }

  &:nth-child(odd) {
    background-color: $grey;
  }
}

.preCaption {
  color: $green;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.sideBySide {
  display: grid;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media screen and (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  p { 
    margin-bottom: 2rem;
    font-size: 1.2rem;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.4rem;
    }
  }  

  b {
    font-size: 1.2rem;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.5rem;
    }
  }

  p:first-child {
    margin-top: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}