@import "../styles/vars";

.field {
  margin-bottom: 1rem;


  label {
    font-size: 1.1rem;
    display: block;
  }

  input {
    padding: 0.75rem;
    font-size: 1rem;
    color: $text;
    border: 2px solid $text;
    margin-top: 0.25rem;
  }
}

.hint,
.error {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.hint {
  color: transparentize($color: #000000, $amount: 0.25);
}

.error {
  color: $error;
}