@import "../styles/vars";

.field {
  margin-bottom: 1rem;

  label {
    font-size: 1.1rem;
    display: block;
  }

  input {
    padding: 0.75rem;
    font-size: 1rem;
    color: $black;
    border: 3px solid $black;
    margin-top: 0.25rem;
    border-radius: 10px;
    width: 100%;

    &:focus {
      outline: 3px solid $yellow;
    }

    @media screen and (min-width: $breakpoint-m) {
      width: auto;
    }
  }
}

.checkboxField {
  margin-bottom: 1rem;
  position: relative;
  background-color: $grey;
  padding: 1rem 1rem 1rem 5rem;

  input {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 3px;
    left: 3px;
    opacity: 0;
    cursor: pointer;

    &:checked+label {
      &:before {
        background: $black;
      }

      &:after {
        // mark
        position: absolute;
        top: 8px;
        left: 8px;
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5L4.5 8L11 1.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
      }
    }
  }

  label {
    font-size: 1.1rem;
    display: block;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    &:before {
      // box
      content: "";
      display: block;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      border: 3px solid $black;
      cursor: pointer;
    }




  }

}

.hint,
.error {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.hint {
  color: transparentize($color: #000000, $amount: 0.25);
}

.error {
  color: $red;
}