@import "../styles/vars";
@import "../styles/mixins";

.story {
  position: relative;
  border-radius: $border-radius-s;
  background: $grey;
  min-height: 17rem;
  display: grid;
  grid-template-columns: 50% 50%;

  &:focus-within {
    background: $yellow;

    a,
    blockquote,
    blockquote:before {
      color: $black;

    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-s 0 0 $border-radius-s ;
  }

  div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    * {
      margin: 0;
    }
  }

  a {
    color: $orange;
    text-decoration: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  blockquote {
    margin-left: 0;

    &:before {
      content: "Ë®";
      display: block;
      font-size: 4rem;
      color: $orange;
      font-weight: bold;
      margin-bottom: -2.5rem;
    }
  }
}