@import "../styles/vars";
@import "../styles/mixins";

.stories {
  @include section-padding-s;
  background-color: $grey;

  @media screen and (min-width: $breakpoint-m) {
    @include section-padding-l;
  }

  &>p {
    margin-bottom: 2.5rem;
  }

  a:last-child {
    margin: 2rem auto 0 auto;

    @media screen and (min-width: $breakpoint-m) {
      margin: 5rem auto 1rem auto;
    }
  }

  h2 {
    font-size: 2rem;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.2rem;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 1.5rem;
    }
  }
}
