@import "../styles/vars";
@import "../styles/mixins";
@import "../styles/keyframes";


.spinnerWrapper {
  display: flex;
  animation: grow 0.3s ease-out;
  transform: scale(1);
}

.spinner {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 0.75s infinite;
}