@import "../styles/vars";

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: $red;
  color: $white;

  a {
    color: $white;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    &:active {
      color: $black;


      path {
        fill: $black;
      }
    }
  }

  svg {
    width: 15px;
    height: 15px;


    path {
      fill: $white;
    }
  }
}