@import "../styles/vars";
@import "../styles/mixins";

.timeline {
  @include contained-width-s;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 60px;
  max-width: 500px;
  margin-top: 3rem;


  li {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: -49px;
      height: calc(100% + 1.5rem);

      border-left: 3px solid $orange;
    }

    &:last-child:after {
      display: none;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: -60px;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background: $orange;
    }

  }

  h3 {
    margin: 0;
    color: $blue;
  }

  p {
    margin: 0;
    margin-top: 0.5rem;
  }

}