@import "../styles/vars";
@import "../styles/mixins";



.legend {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: bold;
  padding: 0;
  margin-bottom: 1.5rem;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
}

.checkboxField {
  @include checkboxField;
}

.radioField {
  @include radioField;
}

.error {
  color: $red;
}