.question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;


  form {
    padding: 1rem;
  }

  article {
    padding: 1rem;
  }
}


.caption {
  // font-size: 1rem;
  color: transparentize($color: #000000, $amount: 0.5);
  margin-bottom: 0;
}

.legend {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin-bottom: 1rem;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}