@import "../styles/vars";
@import "../styles/mixins";



.legend {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: bold;
  padding: 0;
  margin-bottom: 1.5rem;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
}

.checkboxField {
  @include checkboxField;
}

.radioField {
  @include radioField;
}

.explorerField {
  @include field;
  background: none;

  label {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $grey;
      border: none;
      z-index: -1;
    }

    &:after {
      display: none;
    }
  }

  input:checked+label {
    color: $white;
    // font-weight: bold;

    &:before {
      background: $blue;
    }
  }
}

.error {
  color: $red;
}