@import "../styles/vars";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dialog {
  padding: 0;
  width: 100%;
  height: 80vh;
  max-width: 900px;
  border-radius: $border-radius-m;
  border: 3px solid $black;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.inner {
  position: relative;
  height: 100%;
}

.meter {
  width: 100%;
  height: 0.5rem;
  border-radius: 0;
}


@mixin closeButton {
  border-radius: 15px;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  background: none;
  border: none;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;

  &:focus,
  &:active {
    background: $yellow;
    outline: none;
  }
}

.closeButton {
  @include closeButton
}

.closeButtonInverted {
  @include closeButton;

  path {
    fill: $white;
  }

  &:focus path,
  &:active path {
    fill: $black;
  }
}

.closeIcon {
  width: 50px;
  height: 50px;
}