@import "../styles/vars";
@import "../styles/mixins";

.sectionList {
  height: 100%;
  @include standard-padding;
}

.headline {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-s) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sectionLink {
  display: block;
  text-align: center;
  background: $blue;
  color: $white;
  padding: 1.5rem 3rem;
  border-radius: 15px;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.3;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:hover {
    background: $dark-blue;
    color: $white;
  }

  &:active,
  &:focus {
    background: $yellow;
    outline: none;
    color: $black;
  }
}