@import "../styles/vars";
@import "../styles/mixins";

.article {
  background: $grey;
  padding: 2rem;
  font-size: 1.1rem;

  @media screen and (min-width: $breakpoint-m) {
    padding: 3rem;
  }
}

.emptyArticle {
  background: $grey;
  padding: 6rem;
  color: $light-black;
  text-align: center;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1.3;
}