@import "../../../styles/vars";
@import "../../../styles/mixins";

.columns {
  @media screen and (min-width: $breakpoint-m) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}