@import "../styles/vars";
@import "../styles/mixins";

.notFound {
  @include section-padding-xl;
  text-align: center;

  p:first-child {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 1rem;
    color: $dark-lilac;
    font-weight: bold;
  }

  h1 {
    font-size: 6rem;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 2rem;
    color: $green;
  }

  p:last-child {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }


}