@import "../styles/vars";
@import "../styles/mixins";

.canvas {
  height: 100vh;
  background: $black;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include standard-padding;
  animation: fadeIn 0.5s cubic-bezier(.87, -.41, .19, 1.44);
  line-height: 1.3;

  h1 {
    font-size: 1.3rem;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 2rem;
    }
  }



  * {
    margin: 0;
  }
}

.mount {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-m) {
    @include standard-padding;
    @include section-padding-s;
  }
}

.inner {
  background: white;
  max-width: 900px;
  width: 100%;
  height: 100%;
  animation: fadeIn 1s cubic-bezier(.87, -.41, .19, 1.44);

  @media screen and (min-width: $breakpoint-m) {
    border-radius: $border-radius-s;
  }
}

.closeButton {
  background: none;
  border: none;
  padding: 0.2rem;
  display: flex;
  cursor: pointer;
  border-radius: $border-radius-s;

  path {
    fill: $white;
  }

  &:focus,
  &:active {
    background: $yellow;
    outline: none;

    path {
      fill: black;
    }
  }

  @media screen and (min-width: $breakpoint-m) {
    padding: 0.5rem;
  }
}

.closeIcon {
  width: 25px;
  height: 25px;

  @media screen and (min-width: $breakpoint-m) {
    width: 30px;
    height: 30px;
  }
}