@import "../../styles/vars";
@import "../../styles/mixins";

.subheading {
  color: $green;
}

.answers {
  @media screen and (min-width: $breakpoint-m) {
    column-count: 2;
    column-gap: 2rem;
  }

  dl {
    margin-top: 0;
    margin-bottom: 1rem;

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      padding: 0.3rem;
      align-items: center;

      &:nth-child(odd) {
        background-color: $grey;
        border-radius: $border-radius-s;
      }
    }
  }

  dt,
  dd {
    font-size: 0.9rem;
  }
}

.section {
  break-inside: avoid;
}

.choiceButtons{
  display: flex;
  gap: 10px;
}