* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: $white;
  color: $black;
  padding: 0;
  margin: 0;
}

a {
  color: $blue;

  &:hover {
    color: darken($blue, 10)
  }

  &:focus,
  &:active {
    background: $yellow;
    outline: 3px solid $yellow;
    color: $black;
  }
}

input,
label {
  padding: 0;
  margin: 0;
}

meter {
  background: none;
  border: 3px solid $black;
  border-radius: 15px;
  overflow: hidden;
  width: 10rem;

  &::-moz-meter-bar,
  &::-webkit-meter-bar {
    appearance: none;
    background: $blue;
    border: 5px solid $blue;
  }
}