.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.container {
  @include contained-width-l;
  @include standard-padding;
}

// .wavy {
//   background: $blue;
//   color: $white;
//   position: relative;

//   &:before {
//     @include wavy;
//     background-color: $yellow;
//     top: -4rem;
//     left: -50%;
//     transform: rotate(180deg);
//   }
// }

.hero {
  background: $blue;
  color: $white;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &:before {
    @include wavy;
    background-color: $blue;
    bottom: -3rem;
    // left: -50%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 1.1;
    margin: 0;

    @media screen and (min-width: $breakpoint-m) {
      font-size: 6rem;
    }
  }

  a {
    @include button;
    width: auto;
    border: 2px solid $white;
    color: $white;
    margin-top: 2rem;

    &:hover {
      background: $blue;
    }

    &:focus,
    &:active {
      background: $yellow;
      border-color: $yellow;
    }

  }
}