.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.container {
  @include contained-width-l;
  @include standard-padding;
}