.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.container {
  @include contained-width-s;
  @include standard-padding;

  @media screen and (min-width: $breakpoint-m) {
    @include section-padding-l;
    @include standard-padding;
    padding-top: 7rem;
  }
}

.button {
  @include button;

  &--primary {
    @media screen and (min-width: $breakpoint-m) {
      min-width: 300px;
    }
  }

  &--secondary {
    background: none;
    border: 2px solid $green;

    svg path {
      stroke: $green;
    }

    &:hover {
      background: none;
      color: $green;
    }

    &:focus,
    &:active {
      background: $yellow;
      border-color: $black;
      color: $black;
    }
  }
}

.quizButton {
  @include button($green, $white);

  &--primary {
    @media screen and (min-width: $breakpoint-m) {
      min-width: 300px;
    }
  }
}

.squaredButton {
  @include squaredButton;
}

.optionList {
  @include optionList
}

.section-heading {
  margin: 0;
  color: $green;
  text-align: center;
  line-height: 1.3;

  font-size: 2rem;

  @media screen and (min-width: $breakpoint-m) {
    font-size: 2.5rem;
  }
}

.section-caption {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 2.2rem;
  color: #112231
}