// colours
$black: #09121a;
$white: #ffffff;
$grey: #F5F5F5;
$orange: #E6554B; //remove
$green: #164045;
$yellow: #FFD65A;
$red: #E64B4B;
$lilac: #CCB4CB;

// extended palette
$light-black: transparentize($black, 0.25);
$dark-white: darken($white, 10);
$light-green: lighten($green, 20);
$dark-lilac: darken($lilac, 10);
$dark-green: darken($green, 10);

// breakpoints
$breakpoint-xs: 300px;
$breakpoint-s: 500px;
$breakpoint-m: 700px;
$breakpoint-l: 1000px;

// border radii
$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;