// colours
$black: #09121a;
$white: #ffffff;
$grey: #F3F2F2;
$orange: #E6554B;
$green: #164045;
$yellow: #FFD65A;
$red: #E64B4B;

// extended palette
$light-black: transparentize($black, 0.25);
$dark-white: darken($white, 10);
$dark-orange: darken($orange, 3);
$light-green: lighten($green, 20);

// breakpoints
$breakpoint-s: 500px;
$breakpoint-m: 700px;
$breakpoint-l: 1000px;

// border radii
$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;